.secondWord {
  color: var(--lighterGrey);
  margin-top: -1.25rem;
}

.thirdWord {
  color: white;
  margin-top: -1.25rem;
  margin-bottom: 2rem;
}

.emoji {
  margin-top: -1.25rem;
}

.top_text {
  margin-top: -20%;
}

table {
  border-collapse: collapse;
  margin-bottom: 4rem;
}

.main_content {
  margin-top: -24vw;
  width:52%;
  margin-left: 12%;
}

/* smaller screens: */
@media only screen and (max-width: 1000px) {
  body {
    margin: 0;
  }

  .main_content {
    box-sizing: border-box;
    margin-top: 16rem;
    width: 88vw;
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

table th:nth-child(even) {
  background-color: var(--backdropGrey);
}

table th:hover {
  background-color: var(--superLightGrey);
  transition: ease-out;
  transition-duration: 500ms;
}

table th {
  text-align: left;
  vertical-align: top;
}

table td,
table th {
  border: 1px solid #dddddd1a;
  padding: 16px;
}

.twitter_contain {
  width: 23vw;
}

.twitter_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* smaller devices: */
@media only screen and (max-width: 1000px) {

  table {
    display: block;
  }
  tr > th {
    display: block;
  }
  
  tr > td {
    display: block;
  }
  
  tr {
    display: block;
  }
  
  .twitter_contain {
    width: 80vw; 
  }

  .twitter_wrap {
    justify-content: space-around;
  }
  
}
