.secondWord {
  color: var(--lighterGrey);
  margin-top: -1rem;
}

.thirdWord {
  color: white;
  margin-top: -1rem;
}

.emoji {
  margin-top: -1rem;
}

.top_text {
  /* margin-top: -10%; */
}

table {
  border-collapse: collapse;
}

.main_content {
  width: 48%;
  margin-left: 20%;
}

