.nav_links a {
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}

.nav_links li {
  list-style-type: none;
}

.nav_links li a:hover {
  opacity: 0.2;
  transition: ease-out;
  transition-duration: 500ms;
}

#navbar {
  position: sticky;
  top: 8rem;
  margin-left: 72%;
}

.nav_links{
  margin-top: 64px;
}

table th:nth-child(even) {
  background-color: var(--backdropGrey);
}

table th:hover {
  background-color: var(--superLightGrey);
  transition: ease-out;
  transition-duration: 500ms;
}

table th {
  text-align: left;
  vertical-align: top;
}

table td,
table th {
  border: 1px solid #dddddd1a;
  padding: 16px;
}

.twitter-tweet {
  width: 100%;
  height: auto;
}
