.nav_links a {
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}

.nav_links li {
  list-style-type: none;
  margin-bottom: 0.25rem;
}

.nav_links li a:hover {
  opacity: 0.2;
  transition: ease-out;
  transition-duration: 500ms;
}

#navbar {
  position: sticky;
  top: 8rem;
  margin-left: 72%;
}

.nav_links {
  margin-top: 64px;
}

.h1 {
  opacity: 1;
}

#itemOne,
#itemTwo {
  opacity: 0.2;
}

.footer_nav {
  margin-top: 16rem;
}

.design_link.lastItem {
  margin-bottom: 2rem;
}
